/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/* Дублируем переменные для тёмной темы */

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-text-color: #ff0070;
  --title-color: #000028;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --accent-color-1: rgba(255, 0, 112, 0.4);
  background-image: url(../images/cover-image-dark.png);
}

.decoration__item {
  display: flex;
}
