/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные светлой темы*/
  --text-color: #353430;
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --heading-color: #ffc2e6;
    --accent-color: #ff8dcb;


    /* Дублируем переменные светлой темы */
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #353430;
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;

  .decorated-zone::before {
    border-block-end: 1px solid #353430;
    border-inline-start: 1px solid #353430;
  }
  .decorated-zone::after{
    border-block-start: 1px solid #353430;
    border-inline-end: 1px solid #353430 ;
  }

  .decoration__item {
    display: none;}

  button {
    color:var(--accent-color#353430);
  }

  button:active {
    border: 1px solid var(--accent-color#353430);}
  
  } 
  