/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  max-width: 1024px;
  min-inline-size: 375px;
  margin: auto;
  color: var(--text-color, #f1b2ce);
  font-family: IBM Plex Mono, Bold Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--back-image);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 0 300px 350px 0;
  position: relative;
  padding: 20px 0;
  min-height: 100vh;
  margin-block-end: 60px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  color: var(--accent-text-color, #ff0070);
}

.decorated-zone::before {
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-block-end: 1px solid;
  border-inline-start: 1px solid;
}

.decorated-zone::after {
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
  inset-block-start: 20px;
  inset-inline-end: 20px;
}

.decoration {
  position: relative;
}

.decoration__item {
  position: absolute;
  content: "";
  color: var(--accent-color, #ff0070);
  right: 47px;
}

.decoration__item::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 10px 3px var(--accent-color, #ff0070);
  inset-inline-end: -17px;
  inset-block-end: 20%;
}

a {
  text-decoration: none;
}

a :hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

a :focus {
  outline: none;
}

a :focus-visible {
  border: 1px solid var(--text-color, #f1b2ce);
  outline: none;
}

button {
  color: var(--accent-text-color, #ff0070);
  text-align: center;
  font-family: IBM Plex Mono, sans-serif, Arial, Helvetica, Bold Regular;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-1, rgba(255, 0, 112, 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-text-color, #ff0070);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-text-color, #ff0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 13px;
  list-style: none;
  position: relative;
}

.heading {
  color: var(--heading-color, #db00ff);
  font-family: IBM Plex Mono, sans-serif, Arial, Helvetica, Bold Regular;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8;
}

.header__title {
  padding: 0;
  margin-block-end: 120px;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.container {
  margin-left: 513px;
  margin-right: 20px;
}

.title-decor,
.title-decor-five,
.title-decor-pictures,
.title-decor-text {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-color, #000028);
  font-family: IBM Plex Mono, sans-serif, Arial, Helvetica, Bold Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor-five,
.title-decor-pictures {
  margin-bottom: 20px;
}

.title-decor-text {
  font-weight: 400;
}

.section-why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  margin-block-end: 80px;
  gap: 20px;
  padding: 0px 20px;
  grid-template-areas:
    "a b"
    "a b";
}

.card__why {
  grid-area: a;
}

.card__what-reduces {
  display: grid;
  gap: 20px;
  inline-size: 315px;
  margin: 20px;
}

.section-what {
  display: grid;
  gap: 20px;
  margin-block-end: 80px;
  padding: 0px 20px;
  grid-template-columns: repeat(3, 1fr);
}

.content-section-how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px 20px;
  gap: 20px;
  margin-block-end: 80px;
  grid-auto-rows: auto;
  grid-template-areas:
    "a b"
    "a b" "a b" "a b" "a b";
}

.section__title-what {
  grid-area: a;
}

.content__text-block {
  font-size: 18px;
  margin-block-start: 10px;
}

.content__paragraph {
  min-width: 648.918px;
}

.content__paragraph-imagine {
  min-width: 647.552px;
}

.content__paragraph-take-a-walk {
  min-width: 649px;
}

span.text-shadow {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.text-shadow {
  color: var(--text-color, #f1b2ce);
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.content-section-pictures {
  margin-block-end: 60px;
  padding: 0 20px;
}

.section__title,
.section__title-what {
  line-height: 23.4px;
  font-style: normal;
  color: var(--accent-text-color, #ff0070);
  font-family: IBM Plex Mono, sans-serif, Arial, Helvetica, Bold Regular;
  font-weight: 700;
  font-size: 18px;
}

.picture {
  gap: 20px;
  display: grid;
}

.picture__sunset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.picture__ice-cream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.picture__books {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.picture__street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.picture__tape {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

img {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.footer {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.footer__decorated-zone::before,
.footer__decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  color: var(--accent-text-color, #ff0070);
}

.footer__decorated-zone::before {
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-block-end: 1px solid;
  border-inline-start: 1px solid;
}

.footer__decorated-zone::after {
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
  inset-block-start: 20px;
  inset-inline-end: 20px;
}

@media (max-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-end: 120px;
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }
}

@media (max-width: 870px) {
  .header {
    display: grid;
    grid-template-rows: 170px 275px 400px;
    padding: 20px 0;
  }

  .content-section-what,
  .section-what {
    display: block;
  }

  .header__theme-menu-list {
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-end: 163px;
  }

  .decoration__item {
    right: 46px;
  }

  .content-section-how {
    margin-block-end: 80px;
  }

  .content__paragraph,
  .content__paragraph-imagine,
  .content__paragraph-take-a-walk {
    min-width: 472px;
  }

  .container {
    margin-left: 384px;
  }

  .card__what-reduces {
    inline-size: 236px;
  }

  .card__what,
  .card__food,
  .card__gadgets {
    margin-bottom: 20px;
  }

  .footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (max-width: 684px) {
  .header {
    display: grid;
    grid-template-rows: 64px 170px 415px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .decorated-zone::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::before {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .decoration__item {
    right: 26px;
    top: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    padding: 0;
  }

  .header__title {
    margin-block-end: 55px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .section__title,
  .section__title-what {
    inline-size: 355px;
    margin-block-end: 20px;
  }

  .content__paragraph {
    min-width: 351.027px;
    margin-block-end: 20px;
  }

  .content__paragraph-imagine {
    min-width: 354.839px;
    margin-block-end: 20px;
  }

  .content__paragraph-take-a-walk {
    min-width: 353.502px;
    margin-bottom: 20px;
  }

  .section-why,
  .content-section-how,
  .section-what {
    display: block;
    padding: 0 10px;
    margin-block-end: 50px;
  }

  .card__what-reduces {
    display: block;
    padding: 0 10px;
    margin: 0;
  }

  .title-decor-pictures {
    margin-block-end: 10px;
  }

  .content-section-pictures {
    padding: 0 10px;
    margin-block-end: 40px;
  }

  .picture {
    display: block;
  }

  img {
    margin-block-end: 10px;
  }

  .container {
    min-width: 355px;
    margin-left: 0;
    margin-right: 0px;
    margin-block-end: 66px;
  }

  .footer {
    padding: 0 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer__decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .footer__decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }
}
