/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-text-color: #353430;
  --accent-text-color: #ff0070;
  --bg-color: #000028;
  --bg-color: #fff1f7;
  --text-color: #f1b2ce;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --heading-color: #db00ff;
  --heading-color: #ffc2e6;
  --accent-color-1: rgba(255, 0, 112, 0.4);
  --accent-color-1: rgba(50, 49, 45, 0.4);  
}
